{% extends 'inicio.html' %}
{% load static %}
{% block titulo %} Agregar Usuario {% endblock titulo %}
{% block contenido %}
<div class="row justify-content-center">
  <div class="col-12 col-lg-8 col-xl-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="h4 mb-3">Agregar usuario</h1>
        {% if formulario.non_field_errors %}
          <div class="alert alert-danger" role="alert">{{ formulario.non_field_errors }}</div>
        {% endif %}
        <form action="" method="POST" id="form-usuario" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          {{ formulario.as_p }}
          <button type="submit">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}